<template>
  <div>
    <i class="fad fa-search fa-2x" style="display: inline-block;vertical-align: middle;"></i>
    <input type="text" class="form-control search-box" style="display: inline-block; width: 25%;"
      value.bind="searchKeywordsTerm" placeholder="search Keywords..."></input>
    <input type="text" class="form-control search-box" style="display: inline-block; width: 25%;"
      value.bind="searchLabelsTerm" placeholder="search Labels..."></input>
    <i class="far fa-trash fa-2x" style="display: inline-block;vertical-align: middle; cursor: pointer"
      click.delegate="resetSearch()"></i>
    <div style="float: right; vertical-align: middle">
      <a md-button md-dropdown="activates: dropdown1;">Dataset: ${selectedDataset}</a>
      <ul id="dropdown1">
        <li><a click.trigger="setDataset('tool')">Tool Dataset</a></li>
        <li><a click.trigger="setDataset('manual')">Manual Dataset</a></li>
      </ul>
    </div>
  </div>
  <div>
    <div style="display: inline-block">
      <md-switch label-on="Labels" label-off="Categories" checked.bind="overlap_property"></md-switch>
    </div>
    <button md-button click.delegate="setOverlapSortProperty()">Sort by Author Agreement</button>
  </div>
  <div class="row">
    <div class="col m8" style="height: 80vh; overflow: auto" scrolltop.bind="scrollTop">
      <table>
        <thead>
          <tr>
            <th repeat.for="property of properties" style="cursor: pointer"
              click.delegate="setKeywordSortProperty(property)">
              ${property}</th>
            <!-- <th style="cursor: pointer" click.delegate="setSortProperty('Keyword')">Keyword</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('KeyVis')">KeyVis</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('Mike')">Mike</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('Michael')">Michael</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('Torsten')">Torsten</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            repeat.for="keyword of data | customSort: sort_keywords | filter:searchKeywordsTerm:filterKeywordsFunc | filter:searchLabelsTerm:filterLabelsFunc"
            click.delegate="selectKeyword(keyword)" css="background-color: ${getAgreementColor(keyword)}">
            <td css="opacity: ${getHighlight(keyword[property])}" repeat.for="property of properties">
              <span
                style="font-size: smaller; color: rgba(0, 0, 0, 0.509)">${label_mapping.get(keyword[property])}<br></span>
              ${keyword[property]}</td>
            <!-- <td>${keyword["Keyword"]}</td>
            <td>${keyword["KeyVis"]}</td>
            <td>${keyword["Mike"]}</td>
            <td>${keyword["Michael"]}</td>
            <td>${keyword["Torsten"]}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col m4" style="height: 80vh; overflow: auto">
      <table>
        <thead>
          <tr>
            <th style="cursor: pointer" click.delegate="setLabelSortProperty('label')">Label</th>
            <th style="cursor: pointer" click.delegate="setLabelSortProperty('count')">Count</th>
            <th style="cursor: pointer" click.delegate="setLabelSortProperty('uncertainty')">Uncertainty
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              ${labels.length} Labels
            </td>
            <td as-element="small-bars-obs" data.bind="labels" property="count" xSize="100" ySize="60">
            </td>
            <td as-element="small-histogram-obs" data.bind="labels" property="uncertainty" bins="5" xSize="100"
              ySize="60">
            </td>
          </tr>
          <tr style="cursor: pointer"
            repeat.for="label of labels | filter:searchLabelsTerm:filterLabelsListFunc | customSort: sort_labels"
            click.delegate="selectLabel(label)">
            <td>${label["label"]} </td>
            <td>${label["count"]}</td>
            <td>${label["uncertainty"]}</td>
          </tr>
        </tbody>
      </table>
      <div if.bind="searchLabelsTerm">
        <table>
          <thead>
            <tr>
              <th style="cursor: pointer" click.delegate="setCoocSortProperty('label')">Coocurrent Label</th>
              <th style="cursor: pointer" click.delegate="setCoocSortProperty('count')">Count</th>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                ${selectedCooc.length} Co-occuring Labels
              </td>
              <td as-element="small-bars-obs" data.bind="selectedCooc" property="count" xSize="100" ySize="60">
              </td>
            </tr>
            <tr style="cursor: pointer" repeat.for="cooc of selectedCooc | customSort: sort_cooc"
              click.delegate="selectCooc(cooc)">
              <td>${cooc["label"]} </td>
              <td>${cooc["count"]}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>