<template>
  <div>
    <i class="fad fa-search fa-2x" style="display: inline-block;vertical-align: middle;"></i>
    <input type="text" class="form-control search-box" style="display: inline-block; width: 25%;"
      value.bind="searchKeywordsTerm" placeholder="search Keywords..."></input>
    <input type="text" class="form-control search-box" style="display: inline-block; width: 25%;"
      value.bind="searchLabelsTerm" placeholder="search Labels..."></input>
    <button md-button click.delegate="setSortProperty('Overlap', 'sort_keywords')">Sort by Author Agreement</button>
  </div>
  <div class="row">
    <div class="col m8">
      <table>
        <thead>
          <tr>
            <th repeat.for="property of properties" style="cursor: pointer"
              click.delegate="setSortProperty(property, 'sort_keywords')">
              ${property}</th>
            <!-- <th style="cursor: pointer" click.delegate="setSortProperty('Keyword')">Keyword</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('KeyVis')">KeyVis</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('Mike')">Mike</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('Michael')">Michael</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('Torsten')">Torsten</th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            repeat.for="keyword of data | customSort: sort_keywords | filter:searchKeywordsTerm:filterKeywordsFunc | filter:searchLabelsTerm:filterLabelsFunc"
            click.delegate="selectKeyword(keyword)" css="background-color: ${getAgreementColor(keyword['Overlap'])}">
            <td css="opacity: ${getHighlight(keyword[property])}" repeat.for="property of properties">
              ${keyword[property]}</td>
            <!-- <td>${keyword["Keyword"]}</td>
            <td>${keyword["KeyVis"]}</td>
            <td>${keyword["Mike"]}</td>
            <td>${keyword["Michael"]}</td>
            <td>${keyword["Torsten"]}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col m4">
      <table>
        <thead>
          <tr>
            <th style="cursor: pointer" click.delegate="setSortProperty('label', 'sort_labels')">Label</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('count', 'sort_labels')">Count</th>
            <th style="cursor: pointer" click.delegate="setSortProperty('uncertainty', 'sort_labels')">Uncertainty</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer"
            repeat.for="label of labels | customSort: sort_labels | filter:searchLabelsTerm:filterLabelsListFunc"
            click.delegate="selectLabel(label)">
            <td>${label["label"]} </td>
            <td>${label["count"]}</td>
            <td>${label["uncertainty"]}</td>
          </tr>
        </tbody>
      </table>
      <div if.bind="searchLabelsTerm">
        <table>
          <thead>
            <tr>
              <th style="cursor: pointer" click.delegate="setSortProperty('label', 'sort_labels')">Coocurrent Label</th>
              <th style="cursor: pointer" click.delegate="setSortProperty('count', 'sort_labels')">Count</th>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer" repeat.for="cooc of selectedCooc | customSort: sort_labels"
              click.delegate="selectLabel(cooc)">
              <td>${cooc["label"]} </td>
              <td>${cooc["count"]}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>